{% extends 'base.html' %}
 
{% block content %}
<h1>Пароль успешно изменен!</h1>
 
<p >Вы успешно изменили пароль. <a href="{% url 'users:profile' %}">Вернуться в профиль.</a></p>
<p>Вы будете перенаправлены на страницу профиля через <span id="countdown">5</span> секунд.</p>

<script>
var countdownElement = document.getElementById('countdown');
var countdown = 5;

var countdownInterval = setInterval(function() {
  countdown--;
  countdownElement.textContent = countdown;

  if (countdown <= 0) {
    clearInterval(countdownInterval);
    window.location.href = "{% url 'users:profile' %}";
  }
}, 1000);
</script>
{% endblock %}